/*
Dalton Walker
Website Design
CS 351
*/

body{
  display: grid;

  grid-template-areas:
  "Header"
  /*"Navigation"*/
  "Slideshow"
  "Reservations"
  "AboutUs"
  "Map"
  "Links";


  grid-template-rows: .2fr 1fr .9fr 1.2fr .1fr;
  grid-template-columns: .7fr .5fr;
  grid-row-gap: .2em;
  grid-column-gap: .2em;
  background-color: lightgray;

  height: 125vh;
  margin: 0px;
}

body{
  padding: 5px;
  border: solid;
  border-color: white;
  border-width: 5px;
}



Header{
  grid-area: Header;
  grid-row: 1;
  grid-column: 1/4;
  background-color: green;
}

/*
Navigation{
  grid-area: Navigation;
  grid-column: 1;
  grid-row: 2/4;
  background-color: #ff9900; orange
}
*/

Slideshow{
  grid-area: Slideshow;
  grid-column: 1/4;
  grid-row: 2;
  background-color: blue;
}

AboutUs{
  grid-area: AboutUs;
  grid-column: 1;
  grid-row: 3;
  background-color: orange;
}

Reservations{
  grid-area: Reservations;
  grid-column: 2;
  grid-row: 3;
  background-color: yellow;
}

Map{
  grid-area: Map;
  grid-column: 1/4;
  grid-row: 4;
  background-color: purple;
}

Links{
  grid-area: Links;
  grid-column: 1/4;
  grid-row: 5;
  background-color: red;
}
